<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GCI_Data_Usage.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <GCI_Data_Usage.Settings1>
      <setting name="username" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="frequency" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="usage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>white</value>
      </setting>
    </GCI_Data_Usage.Settings1>
  </userSettings>
</configuration>